 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 *{
    margin:0;
    padding:0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}


input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

:root{
    --bg-color-one:rgb(0, 22, 31);
    --bg-color-two:rgb(0, 18, 26);
    --common-ancestor-font-size : 16px; 
    --game-mg-top: 15px;
    --game-card-width:75px; /*150*/
    --grid-gutters : 5px; /*15*/
    --game-card-border: 2.5px; /*3*/
    --button-outline : 2.5px; /*5*/
    --grid-size : 1fr 1fr 1fr 1fr; /* default size will be 4x4*/
    --menu-bg : rgba(255, 255, 255, 0.11);
    --card-circle-border:5px solid rgba(255, 255, 255, 0.5);
    --top-nav-height :30px;
    --bottom-footer-template-columns : 1fr 20fr 2.5fr 1fr 1fr;
}

/*  
--common-ancestor-font-size is used as a reference of `em`
unit of font-size.
1em = 1 x font-size of `body`
h1 , h2 , ... are also using `em` units.
they are prodefine in the browser. 
*/

body, html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-color-one);
    width: 100%;
    min-height: 100vh;
    font-size: var(--common-ancestor-font-size);
}

body{
    justify-content: space-between;
    /* min-height: 110vh; */
}

.f-r{
    display: flex;
    flex-direction: row;
}

.f-c{
    display: flex;
    flex-direction: column;
}

.alg-c{
    align-items: center;
}
.jst-c{
    justify-content: center;
}


main{
    /* padding: var(--game-mg-top); */
    width: 100%;
}


#game{
    width: auto;
    background-color: var(--menu-bg);
    height: auto;
    margin-top: var(--game-mg-top);
    border-radius: var(--game-mg-top); 
    display: grid;
    grid-template-columns: var(--grid-size) ;
    grid-template-rows: var(--grid-size);
    padding: var(--game-mg-top);
    grid-gap: var(--grid-gutters);
    position: relative;
}

/* Card Detailing begins here...*/
.card{
    border: var(--game-card-border) solid rgba(245, 245, 245, 0.5);
    width: var(--game-card-width);
    height: var(--game-card-width);
    border-radius: var(--grid-gutters);
    background-color: var(--bg-color-two);
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card:hover{
    border: var(--game-card-border) solid white;
}

.card{
    cursor: pointer;
}

.card:focus{
    outline: var(--button-outline) solid rgba(154, 243, 255, 0.479);
    border: var(--game-card-border) dashed white;
    transition: 0.1s;
    border-radius: 0%;
}

.card:active{
    transform: scale(0.975);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 100%;
}

.sides-encloser{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    padding: var(--grid-gutters);
    border: var(--grid-gutters) solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front, .back{
    width: 100%;
    border-radius: 100%;
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left:0;
    border: var(--card-circle-border);
    perspective: 100px;
}

.back{
    transform:rotateY(180deg);
}


.bottom-footer{
    display : grid;
    grid-template-columns: var(--bottom-footer-template-columns);
    background-color: rgb(0, 43, 78);
    width: 100%;
    height: auto;
    font-size: 0.75em;
    justify-content: center;
    padding: 7.5px 20px;
}

.bottom-footer > p {
    color: rgb(187, 186, 186);
    justify-content: flex-end;
    margin-right: 5px;
    display: inline-flex;
}

.bottom-footer > span{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2.5px;
}


/* Stylings for Top Nav Bar */




#top-nav{
    width:100%;
    height:var(--top-nav-height);
    background-color: #ffffff1e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 7.5px;
    padding-right : 7.5px;

}

.navigation-icon{
    width:20px;
    height: 20px;
    fill:rgb(255, 255, 255);
    opacity: 0.65;
    margin-right: 7.5px;
}
.navigation-icon:hover{
    cursor : pointer;
    opacity: 1;
}
#brand-logo{
    width:20px;
    height: 20px;
    fill:rgb(188, 255, 249);
    margin-right:5px;
}

#branding{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
#branding > p{
    font-weight: bold;
    color: rgb(250, 247, 230);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 16px;
}
.nav-button-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

:root{
    --instructions-display  : none; /* or block*/
    --settings-display : none; /*or  or grid*/

}
#instructions{
    z-index: 999;
    width:95vw;
    max-width: 300px;
    height: auto;
    background-color: var(--bg-color-two);
    border: 2px solid rgb(185, 255, 243);
    border-radius: 10px;
    position:absolute;
    top: 30px;
    right: 0;
    padding : 10px;
    box-shadow: -2.5px 2.5px 15px 1px rgba(125, 233, 233, 0.521) ;
    display:var(--instructions-display)
}

#instructions > p, #instructions > h3  {
    line-height: 1.25em;
    margin-bottom: 10px;
}

#settings {
    z-index: 999;
    width:95vw;
    max-width: 300px;
    height: auto;
    background-color: var(--bg-color-two);
    border: 2px solid rgb(185, 255, 243);
    border-radius: 10px;
    position:absolute;
    top: 30px;
    right: 0;
    padding : 10px;
    display:var(--settings-display);
    grid-template-columns: 3fr 1fr;
    box-shadow: -2.5px 2.5px 15px 1px rgba(125, 233, 233, 0.521) ;
}

#settings > h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Styling for Score Strip : */

#score-strip {
    width: 100%;
    font-size: 0.75em;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 5px;
}
#score-strip  p {
    margin-right: 10px;
    color :rgb(0, 187, 187);
    font-weight: bold;
}
#top-encloser{
    width: 100%;
}